/* Общие стили */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1f1; /* Светлый фон */
    margin: 0;
    padding: 0;
    color: #333;
    height: 100vh; /* Высота экрана для центрирования */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрируем по вертикали */
    align-items: center; /* Центрируем по горизонтали */
}

/* Заголовок */
h1 {
    font-size: 2.5em;
    color: #0088cc; /* Цвет для заголовка */
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px; /* Отступ снизу */
    padding-top: 10px; /* Отступ сверху, чтобы заголовок не был прижат к верху */
    margin-top: 0; /* Убираем лишний отступ сверху */
}

/* Форма */
form {
    background-color: #ffffff;
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%; /* Форма будет занимать всю доступную ширину */
    box-sizing: border-box;
}

/* Поля ввода */
input, select, textarea {
    padding: 12px;
    font-size: 1rem;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    background-color: #f7f7f7;
    transition: all 0.3s ease-in-out;
}

/* Изменение фона при фокусе */
input:focus, select:focus, textarea:focus {
    background-color: #f1faff;
    border-color: #0088cc;
    outline: none;
}

/* Кнопка отправки */
button {
    background-color: #0088cc;
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Эффект при наведении на кнопку */
button:hover {
    background-color: #006bb3;
    transform: scale(1.05);
}

/* Индикатор загрузки */
#loading-indicator {
    font-size: 18px;
    color: #007bff;
    font-weight: bold;
    display: none; /* Скрываем индикатор по умолчанию */
    margin-top: 20px;
}

/* Стили для изображения */
#image-container {
    margin-top: 20px;
    text-align: center; /* Центрируем изображение */
}

#image-container img {
    max-width: 100%; /* Ограничиваем максимальную ширину изображения */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Мобильная адаптивность */
@media (max-width: 768px) {
    form {
        padding: 20px;
        margin: 20px;
    }

    h1 {
        font-size: 2em;
    }
}
